<!doctype html>
<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Overview</title>
    <meta name="description" content="Overview page">
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/style.css' %}">
</head>

<body>
    <div id="title-div">
        <h1>Available Docs</h1>
    </div>
    {% if links %}
    <ul class="list">
        {% for link in links %}
        <li><a href="/{{ link.name }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No pages are available.</p>
    {% endif %}
</body>

</html>